
.header{
    background-color: rgba(255, 255, 255, 1);
        height: 140px;
        display: flex;
}

.header-logo{
    height: 90%;
    margin-top: 10px;
    object-fit: contain;
    width: 50%;
}

.header-user{
    margin-top: 10px;
    height: 90%;
    width: 50%;
}

.header-logo img{
    height: 100%;
    width: 40%;
    object-fit: contain;
}

.header-user img{
    height: 100%;
    width: 40%;
    margin-left: 60%;
    object-fit: contain;
}

